/* Підключення фрифтів */

/* Google Fonts (Plugin) */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap"); */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: "Gilroy", sans-serif;
	background-color: #001932;
	color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */
	/* ... */
}
[class*="__container"] {
	/* max-width: 1140px; */
	width: 100%;
	margin: 0 auto;
	padding-inline: 15px;
}
/* ============================================ */

.header__container {
	background-color: purple;
	padding: 5px;
	text-align: center;
}
.title {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 3px;
}


.practice {
	text-align: center;
}
.practice__name {
	font-size: 20px;
	font-weight: 500;
	padding: 20px;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: purple;
}


.figure {
	display: inline-block;
	border:rgb(38, 77, 249) solid;
	padding: 20px;
}
.figure:hover {
	background-color:rgb(38, 77, 249);
}

.figure__item--square {
	width: 50px;
	height: 50px;
	background-color: yellow;
}
.figure__item--rectangle {
	width: 100px;
	height:50px;
	background-color: yellow;
}
.figure__item--circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: yellow;
}
.figure__item--oval {
	width: 100px;
	height: 50px;
	border-radius: 50%;
	background-color: yellow;
}
.figure__item--triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid yellow;

}
.figure__item--triangle-down {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid yellow;
}
.figure__item--triangle-left {
	width: 0;
	height: 0;
	border-bottom: 25px solid transparent;
	border-right: 50px solid yellow;
	border-top: 25px solid transparent;
	
}
.figure__item--triangle-right {
	width: 0;
	height: 0;
	border-bottom: 25px solid transparent;
	border-left: 50px solid yellow;
	border-top: 25px solid transparent;
}
.figure__item--parallelogram {
	width: 100px;
	height: 50px;
	transform: skew(15deg);
}
.figure__item--trapezoid {
	width: 100px;
	border-bottom: 50px solid yellow;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
}



.transform {
	display: inline-block;
	border:rgb(38, 77, 249) solid;
	margin: 0;
	padding: 20px;

}
.transform__item {
	width: 100px;
	height: 100px;
	padding: 20px;
	background-color: rgb(0, 195, 130);
}

.transform__item--translate {
	transform: translate( 0px, 0px);
}
.transform__item--translate:hover{
	transform: translate( 20px, 10px);
}
.transform__item--scale {
	transform: scale(1, 1);
}
.transform__item--scale:hover{
	transform: scale(1.5);
}

.transform__item--rotate {
	transform: rotate(0deg);
}
.transform__item--rotate:hover {
	transform: rotate(-45deg);
}
.transform__item--skew {
	transform: skew(30deg, 0deg);

}
.transform__item--skew:hover {
	transform: skew(0deg, -20deg);

}
.transforme__item--matrix{ 
	transform: matrix( 1, 0.5, 0, 1, 20, 0);

}
.transforme__item--matrix:hover {
	transform: matrix( 1, 0, 0.5, 1, 0, 20);
}
.transform__item--transform-origin {
	transform-origin: top left;
	transform: rotate(0deg);
}
.transform__item--transform-origin:hover {
	transform: rotate(-30deg);
}


.sky { 
	position:absolute;
	width: 100%;
	height: 900px;
	background-color: rgb(139, 226, 255);
}
.sea{
	width: 100%;
	height: 250px;
	background-color: aqua;
	position: absolute;
	bottom: 0;
}
.sea__img{
	position: relative;
	top: -30px;
	right: 0;
	width: 100%;
}

.sailboat {
	position:absolute;
	bottom: 170px;

}
.sailboat__sail {
	position: relative;
	top: 501px;
	left: 55px;
	width: 400px;
	border-bottom: 250px solid rgb(255, 255, 255);
	border-right: 230px solid transparent;
	border-left: 150px solid transparent;
}
.sailboat__mast { 
	position: relative;
	left:202px;
	top: 0px;
	width: 22px;
	height: 305px;
	background-color: rgb(98, 58, 5);
	border-radius: 3px;

}
.sailboat__mast-item{
	position: relative;
	top: 251px;
	left: 200px;
	width: 37px;
	height: 251px;
	border-radius: 45%;
	background-color: rgb(139, 226, 255);

}
.sailboat__deck {
	position: relative;
	bottom: 0;
	width: 500px;
	border-top: 105px solid purple;
	border-right: 110px solid transparent;
	border-left: 50px solid transparent;
	border-radius: 5px;
}
.sailboat__line {
	position: relative;
	bottom: 80px;
	left: 35px;
	height: 15px;
	width: 400px;
	background-color: rgb(150, 1, 184);
	border-radius: 10px;
}



.waves {
	width: 100%;
	height: 200px;
	position:absolute ;
	bottom: 0;

}

.waves__img {
	width: 100%;
	position: relative;
	top: -20px;
	z-index: 5;
}
.sun {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: yellow;
	border: dotted;
	border-color: rgb(139, 226, 255);
	border-width:28px;	
}

